{% extends 'main.html' %}
{% block content %}
{% load static %}

<style>
    body {
        color: #404E67;
        background: #F5F7FA;
		font-family: 'Open Sans', sans-serif;
	}
	.table-wrapper {
		width: 700px;
		margin: 30px auto;
        padding: 20px;	
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table.table-bordered{
    	background: #fff;
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
		height: 30px;
		font-weight: bold;
		font-size: 12px;
		text-shadow: none;
		min-width: 100px;
		border-radius: 50px;
		line-height: 13px;
    }
	.table-title .add-new i {
		margin-right: 4px;
	}
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:last-child {
        width: 100px;
    }
    table.table td a {
		cursor: pointer;
        display: inline-block;
        margin: 0 5px;
		min-width: 24px;
    }    
	table.table td a.add {
        color: #27C46B;
    }
    table.table td a.edit {
        color: #FFC107;
    }
    table.table td a {
        font-size: 10px
    }
    table.table td i {
        font-size: 19px;
    }

    table.table td {
        font-size: 14px;
    }
	table.table td a.add i {
        font-size: 24px;
    	margin-right: -1px;
        position: relative;
        top: 3px;
    }    
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
	table.table .form-control.error {
		border-color: #f50000;
	}
	table.table td .add {
		display: none;
	}

    .btn.btn-sm.btn-info {
        float: right;

    }
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
    form {
        margin-left: 240px;
    }
    #label1 {
        margin-bottom: 0px;
    }
    #help-csv {
        margin-left: -50px;
    }
</style>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6"><h2><b>Contatos de {{contactsGroup.name}}:</b></h2></div>
                    <div class="col-sm-6">
                        <a href="{% url 'create-contact' contactsGroup.id %}">
                            <button type="button" class="btn btn-info add-new" ><i class="fa fa-plus"></i> Adicionar Contato</button>
                        </a>

                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Empresa</th>                        
                        <th>Telefone</th>
                        <th>Atributo1</th>
                        <th>Atributo2</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{contact.name}}</td>
                            <td>{{contact.company}}</td>                        
                            <td>{{contact.phone}}</td>
                            <td>{{contact.var_1}}</td>
                            <td>{{contact.var_2}}</td>
                            <td><a class="btn btn-sm btn-danger"href="{% url 'delete-contact' contact.id%}">Remover</a></td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file1" class="btn btn-info add-new" id='label1'>
                    <i ></i> Escolher .CSV
                </label>
                <input type="file" id="file1" name="file">
                <button class="btn btn-info add-new" type="submit">Adicionar</button>
                <p id='help-csv'>Como enviar um arquivo?<a href="{% static 'csv/contatos.csv' %}"> Baixe aqui um exemplo</a></h3>
            </form>

        </div>
    </div>     
</body>
{% endblock content %}