{% extends "wam_interface/main.html" %}
{% block content %}
<style>
	.card.card-body{
		background-color: #DCF8C6
	}
	div{
		display:inline-block;
		text-align: center; 
	}
</style>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<form action="" method="POST">
				{% csrf_token %}
				<label for="name">Nome do template: </label>
			    <input id="name" type="text" name="name" value="{{ template.name }}"></br>

			    <label for="message_1">1ª Mensagem: </label></br>
			    <textarea id="message_1" name="message_1" rows="3" cols="50">{{ template.message_1 }}</textarea></br>

			    <label for="message_2">2ª Mensagem: </label></br>
			    <textarea id="message_2" name="message_2" rows="3" cols="50">{{ template.message_2 }}</textarea></br>

			    <label for="message_3">3ª Mensagem: </label></br>
			    <textarea id="message_3" name="message_3" rows="3" cols="50">{{ template.message_3 }}</textarea></br>

			    <input type="submit" value="Criar">
			</form>

		</div>
	</div>
	<div class="col-md-6">
		<h4>Personalizando o texto: </h4>
		<p>Para deixar o texto em branco digite: <b>-</b></p>
		<p>Para mostrar o Nome digite:  <b>{nome}</b></p>
		<p>Para mostrar a empresa digite:  <b>{empresa}</b></p>
		<p>Para mostrar o Atributo1 digite:   <b>{att1}</b></p>
		<p>Para mostrar o Atributo2 digite:   <b>{att2}</b></p>
	</div>
</div>
{% endblock %}